body, html{
  height: 100%;
}
.App {
  text-align: center;
  background-image: url('./components/image/bg.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20%;
}
